@import "variables";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primary-bg;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
    width: 400px;
    height: 300px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-form button {
    width: 400px;
    padding: 10px;
    background-color: $secondary-bg;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: $btn-hover;
}
